.woocommerce-account {

    .content-area {

        .entry-title {
            font-size: 1.4rem;
            text-align: center;
            width: 100%;
            margin-bottom: 0;
        }

        .woocommerce {
            display: flex;
            flex-wrap: wrap;
        }
    }
    
    .woocommerce-MyAccount-navigation {
        padding: 0 1rem;
        min-width: 250px;
        @media(max-width: $tablet) { 
            width: 100%;
        }

        li {
            @media(max-width: $tablet) { 
                border-bottom: 1px solid darken($offwhite, 10%);
                width: 100%;
            }

            a {
                display: block;
                padding: 0.6rem;
                font-size: 0.9rem;
                color: darken($brand-two, 20%);  

                @media(max-width: $tablet) { 
                    padding-left: 0;
                    font-size: 0.8rem;
                }              

                &:before {
                    float: left;
                    margin: 0 1rem 0 0;
                    line-height: 1;
                    transition: all 0.2s ease;
                }
            }

            &.is-active {
                font-style: italic;

                a {
                    color: $brand-one;
                }
            }
        }
    }

    .woocommerce-MyAccount-content {
        flex: 1;
        padding: 0 1rem;
        line-height: 1.4;

        a {
            text-decoration: underline;
            font-style: italic;
        }

        .woocommerce-message {
            max-width: 100%;
            display: block;
        }
    }

    header {
        display: flex;
    }

    // address section
    .woocommerce-Addresses {

        .woocommerce-Address-title {
            margin: 1rem 0 0;

            h3 {
                font-size: 1rem;
            }
    
            a.edit {
                line-height: 1rem;
                margin-top: 0;
                padding-top: 0;
                font-size: 0.9rem;
                color: darken($brand-two, 20%);
            }
        }

        address {
            font-family: $sans-serif;
        }
    }

    // account details
    .woocommerce-EditAccountForm {
        display: block;

        p {
            font-size: 0.9rem;
            margin: 1rem 0;
        }
        
        fieldset {
            margin-top: 4rem;
        }

        legend {
            margin-bottom: 1rem;
        }
    }

    .woocommerce-orders-table {
        width: 100%;
        text-align: left;

        thead {

            tr th {
                padding: 0 0 1rem 0;
            }
            @media(max-width: $tablet) {
                display: none;
            }
        }

        tbody {

            tr {
                @media(max-width: $tablet) {
                    border-bottom: 1px solid $brand-two;
                }
            }

            tr td {
                padding: 1rem 0;

                @media(max-width: $tablet) {
                    display: block;
                    width: 100%;
                    min-width: 280px;

                    &[data-title]::before {
                        content: attr(data-title);
                        float: left;
                        margin-right: 1rem;
                        display: block;
                        width: 80px;
                    }
                }
            }
        }
    }
}

.woocommerce-form-login {
    width: 100%;
    margin: 0 auto;

    .woocommerce-form-login__rememberme {

        input {
            width: 1rem;
            min-width: 1rem;
        }
    }

    button {
        display: block;
    }
}

.woocommerce-lost-password {

    .woocommerce-error {
        color: $alert-color;
        text-align: center;
        margin-bottom: 2rem;
        font-family: $sans-serif;
    }

    .woocommerce-ResetPassword {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
    
        p {
            margin: 0 auto 3rem;
            font-family: $body-font;
        }

        label {
            font-family: $sans-serif;
        }

        input {
            text-align: center;
        }
    }
}