$navy: #344754; 
$babyblue: #b0becc;
$mint: #c2e0d2;
$pink: #fddad0;
$dark: #2a292d;
$offwhite: #f9f9f9;
$black: #000;
$white: #fff;
$red: #dc716b;


$brand-one: $navy;
$brand-two: $babyblue;
$brand-three: $mint;
$brand-four: $pink;
$alert-color: $red;

$link-color: $brand-one;
$link-hover-color: $brand-two;

