.colorswatch-container {
    width: 100%;
    display: flex;
  
    li {
      min-height: 2rem;
      width: 4rem;
      position: relative;
      margin-right: 0.2rem;
    }
}

.colorswatch {
    border-top: 2px solid $offwhite;
    border-bottom: 2px solid $offwhite;
    margin: 2rem 0;
    padding: 2rem 0;

    h2 {
        font-size: 1rem;
    }

    .colorswatch-container {
        width: 100%;
        display: flex;
      
        li {
          min-height: 2rem;
          width: 4rem;
          position: relative;
          margin-right: 0.2rem;
        }
    }
}